@use "./../Partials/mixins";
@use "./../Partials/palettes";

.about {
    @include mixins.secondary-palette;
    @include mixins.page-size;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__text-wrapper {
        @include mixins.flex-column;
        min-width: 200px;
        max-width: 500px;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    &__heading {
        @include mixins.section-title;
    }

    &__para-1 {
        font-size: 2vh;
    }

    &__para-2 {
        font-size: 2vh;
    }

    &__para-3 {
        font-size: 2vh;
    }

    &__img {
        min-width: 200px;
        max-width: 500px;
        min-height: 250px;
        max-height: 600px;
        border: 4px solid palettes.$tertiary-color;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}
