@use "./../Partials/mixins";
@use "./../Partials/palettes";

.body {
    font-family: Trispace, sans-serif;
    &--background-color {
        background-color: palettes.$primary-color;
    }

    &--width {
        @include mixins.default-width;
    }
}

.home {
    @include mixins.page-size;
    @include mixins.primary-palette;
    @include mixins.flex-column;
}

.header {
    background-color: palettes.$primary-color;
    position: fixed;
    top: 0;
    @include mixins.default-width;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mixins.default-width;
    padding: 0 5vw 0 5vw;

    &__logo-link {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 3vh;

        &--width {
            width: 30vw;
        }
    }

    &__logo-link a {
        text-decoration: none;
    }

    &__link-list {
        display: flex;
        justify-content: space-around;
        margin-right: 10vw;

        &--width {
            width: 50vw;
        }

        &--list-style {
            list-style: none;
            font-size: 2vh;
        }

        &--list-style li a {
            @include mixins.link-styling;
            border: 0.3vh solid palettes.$tertiary-color;
            padding: 4px;
            border-radius: 6px;
            font-weight: 200;
        }

        &--list-style li a:hover {
            @include mixins.hover-link-styling;
        }
    }
}

.logo__text {
    text-decoration: none;
    &--chevron-left {
        @include mixins.logo-styles;
    }

    &--chevron-right {
        @include mixins.logo-styles;
    }
    &--D {
        @include mixins.logo-styles;
    }

    &--H {
        color: palettes.$tertiary-color;
        font-weight: 400;
        font-size: 3vh;
    }
}

.hamburger {
    display: none;

    &__bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: palettes.$secondary-color;
    }
}

@media only screen and (max-width: 1250px) {
    .nav__link-list {
        position: fixed;
        left: -115%;
        top: 3rem;
        flex-direction: column;
        background-color: palettes.$primary-color;
        width: 100%;
        border-radius: 10px;
        text-align: center;

        transition: 0.3s;
    }

    .nav__link-list.active {
        left: 0;
    }

    .list-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .hamburger__bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .hamburger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .hamburger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.darcy {
    color: palettes.$secondary-color;
    font-weight: 400;
}

.henschke {
    color: palettes.$tertiary-color;
    font-weight: 400;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    &--width {
        @include mixins.default-width;
    }
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 10vh;

    &--width {
        width: 85vw;
    }

    &__heading--styles {
        color: palettes.$secondary-color;
        font-weight: 700;
        font-size: 7vh;

        text-align: left;
        margin-bottom: 1vh;
    }

    &__subheading--styles {
        color: palettes.$secondary-color;
        font-weight: 600;
        font-size: 6vh;
        text-align: left;
        margin-bottom: 1vh;
    }

    &__para--styles {
        color: palettes.$secondary-color;
        font-weight: 200;
        font-size: 3vh;
        text-align: left;
    }
}

.footer {
    display: flex;
    justify-content: center;
    width: 70vw;

    &--margin {
        margin-top: 18vh;
        margin-bottom: 2vh;
    }
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;

    &--width {
        width: 85vw;
    }

    &--border {
        border-bottom: 0.4vh solid palettes.$tertiary-color;
        padding-bottom: 2.5vh;
    }
}

.link-wrapper {
    &__link {
        @include mixins.flex-column;

        &--styles {
            color: palettes.$secondary-color;
            text-decoration: none;
            font-size: 2vh;
        }

        &--styles:hover {
            color: palettes.$tertiary-color;
        }
    }
}

.svg {
    &--size {
        width: 8vw;
        height: 8vh;
    }

    &--color {
        color: palettes.$tertiary-color;
    }
}
