@use "./../Partials/mixins";
@use "./../Partials/palettes";

.projects {
    @include mixins.flex-column;
    @include mixins.secondary-palette;
    @include mixins.page-size;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.img-wrapper {
    @include mixins.flex-column;

    &__img {
        min-width: 20vw;
        max-width: 30vw;
        min-height: 20vh;
        max-height: 40vh;
        margin: 6vh 6vw 6vh 6vw;
        border: 4px solid #ff9505;
    }
}
