@use "./../Partials/mixins";
@use "./../Partials/palettes";

// Projects page or section wrapper styles
.projects {
    @include mixins.flex-column;
    @include mixins.secondary-palette;
    @include mixins.page-size;

    &__wrapper {
        @include mixins.flex-wrap;
    }

    &__title {
        @include mixins.section-title;
    }
}

// styling of imgs within project section
.img-wrapper {
    @include mixins.flex-column;
    font-size: 3vh;

    &__img {
        width: 200px;
        height: 250px;
        margin: 6vh 6vw 6vh 6vw;
        border: 4px solid palettes.$tertiary-color;
    }
}
