@use "./../Partials/mixins";
@use "./../Partials/palettes";

.skills {
    width: 100vw;
    height: 100vh;
    @include mixins.flex-column;
    @include mixins.primary-palette;

    &__wrapper {
        width: 70vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.language {
    width: 15vw;
    height: 15vh;
    @include mixins.flex-column;
    padding: 2vh 2vw 2vh 2vw;
    font-size: 3vh;

    &__img {
        width: 15vw;
        height: 15vh;

        &--SQL {
            width: 5.6vw;
            height: 5.6vh;
        }
    }
}
